
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    `.holder`,
    
}
.flex-item{
    width: 75px;
    height: 75px;
    background-color: lightskyblue;
    border: 2px solid darkblue;
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: bold;
    line-height: 1.4;
}
#flex-item-1{
    background-color: lightpink;
}
#flex-item-2{
    background-color:purple;
}
#flrx-item-3{
    background-color:black;
}
#flex-item-4{
    background-color: brown;
}
#flex-item-5{
    background-color: beige;
}


/* Your CSS Code here. */